@using Kendo.Mvc.UI
@using ITSupport.Core.ViewModels
@using ITSupport.WebUI.ActionFilters
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="section" style="margin-top:20px">
        <div class="container">
            <div class="topTitleHead pb20">

            </div>
            <div id="FormMst">
                <div class="align-center align-between pb20">
                    <h2>Forms Management</h2>
                    @if (ITSupport.WebUI.ActionFilters.CheckRights.Insert == true)
                    {
                        <div class="btnDiv">
                            @Html.ActionLink("+ Add New Form", "Create")                       
                        </div>
                    }
                    </div>

                <div class="tableDiv">
                    @(Html.Kendo().Grid<FormMstViewModel>().Name("FormMstGrid").NoRecords("No records found!").Columns(columns=>
                {
                    columns.Bound(c=>c.Name).Width(60);
                    columns.Bound(c =>c.NavigateURL).Width(60);
                    columns.Bound(c=>c.ParentFormName).Width(60);
                    columns.Bound(c=>c.FormAccessCode).Width(60);
                    columns.Bound(c=>c.DisplayIndex).Width(60);
                    columns.Bound(c => c.IsActive).Width(60);
                    if (CheckRights.Update || CheckRights.Delete)
                    {
                        columns.Template(c => c.Id).Title("Action")
                        .ClientTemplate(
                             "#if ('" + CheckRights.Update + "'=='True') {#"
                             + " <a href='" + Url.Action("Edit", "FormMst") + "/#=Id#')'><img src='/Images/edit.svg'></a>"
                             + "#}#"
                             + "#if ('" + CheckRights.Delete + "'=='True') {#"
                             + " <a href='" + Url.Action("Delete", "FormMst") + "/#=Id#')'><img src='/Images/trash.svg'></a>"
                             + "#}#").Width(40);
                    }
                })
.HtmlAttributes(new { style = "heigh: 550px" })
.Groupable()
.Search(s =>
{
    s.Field(o => o.Name, "contains");
    s.Field(o => o.NavigateURL, "contains");
    s.Field(o => o.ParentFormName, "contains");
    s.Field(o => o.FormAccessCode, "contains");
    s.Field(o => o.DisplayIndex, "Number");
})
.Scrollable()
.Filterable()
.Sortable()
.ToolBar(t => t.Search())
.Pageable()
.Resizable(resize => resize.Columns(true))
.DataSource(dataSource => dataSource.Ajax().Model(model => model.Id(p => p.Id)).Read(read => read.Action("GetAllForms", "FormMst"))
.PageSize(5))
)
                </div>
            </div>
        </div>
        <!-- END Section -->
    </div>
</body>
</html>