@{
    ViewBag.Title = "Home Page";
}

<h2 style="text-align:center">Index</h2>
@*<div class="container clearfix">
    <h4>
    </h4>
    <div class="list-group" style="margin-left:100px;margin-right:100px;padding-block:90px">
        @Html.ActionLink("Role", "Index", "Role", null, new { @class = "list-group-item list-group-item-info" })
        <br />
        @Html.ActionLink("User", "Index", "User", null, new { @class = "list-group-item list-group-item-info" })
        <br />
        @Html.ActionLink("CommonLookup", "Index", "CommonLookup", null, new { @class = "list-group-item list-group-item-info" })
    </div>
</div>*@